  th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    }

    tbody tr:nth-child(odd) {
    background-color: #ff000033;
    }
 
    tbody tr:nth-child(even) {
    background-color: #0000ff33;
    }

    tbody tr {
    transition: background-color 0.3s, transform 0.3s;
    transform-origin: center;
    }
    /*마우스를 올렸을때 확대가 되게 하는게 hover 이다.그리고 마우스를 올렸을때 포인트로 바꾸는거는cursor:pointer이다.*/
    tbody tr:hover {
    background-color: #ff9999;
    transform: scale(1.03);
    cursor:pointer;
    }
    /*테이블 텍스트 중앙 정렬*/
    th, td {
    text-align: center;     /* 가로 */
    vertical-align: middle;/* 세로 */
    }
